<!DOCTYPE html>
<html>
<head>
  <title>Loja</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Produtos</h1>
  <% if (user) { %>
    <a href="/cart">Carrinho</a> | <a href="/logout">Sair</a>
  <% } else { %>
    <a href="/login">Login</a> | <a href="/register">Cadastro</a>
  <% } %>
  <div>
    <% products.forEach(product => { %>
      <div>
        <h3><%= product.name %></h3>
        <p>R$ <%= product.price %></p>
        <% if (user) { %>
          <form action="/cart/add" method="POST">
            <input type="hidden" name="productId" value="<%= product.id %>">
            <button type="submit">Adicionar ao Carrinho</button>
          </form>
        <% } %>
      </div>
    <% }) %>
  </div>
</body>
</html>